html,
body,
#app {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  position: absolute;
}

.n-scrollbar-rail.n-scrollbar-rail--horizontal {
  --n-scrollbar-height: 5px;
}

.n-scrollbar-rail.n-scrollbar-rail--vertical {
  --n-scrollbar-width: 5px;
}
